:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --spinner-animation-speed: 2s;
}

/* Reset CSS  */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a,
img,
svg,
span,
input,
button {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

html,
body {
    width: 100%;
    height: 100%;
}

.app {
    background-color: #212228;
    background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
        linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
    background-size: 4em 4em;
    width: 100%;
    height: 100svh;
    position: relative;
    overflow: auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin var(--spinner-animation-speed) linear infinite;
}
